<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IosGameOfLife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>958630A81DD1142800A93B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>958630BC1DD1142800A93B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>958630C71DD1142800A93B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
